/* Space out content a bit */
body {
  font-family: Lato, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 10px; }

a {
  color: #3c53a6; }

a.black {
  color: black; }

a.black:hover {
  color: black; }

a:hover {
  color: #27356a;
  text-decoration: none; }

a.pub-title {
  color: black; }

a.pub-title:hover {
  color: black; }

#hero {
  position: relative; }

#profile {
  position: absolute;
  bottom: -3rem;
  max-width: 12rem;
  width: 30%;
  right: 1rem;
  box-shadow: 2px 2px 3px #000; }

#feed-icon {
  filter: grayscale(100%) opacity(0.5);
  -webkit-filter: grayscale(100%) opacity(0.5);
  height: 14px;
  /*  float: right;*/ }

#feed-icon:hover {
  filter: grayscale(0%) opacity(1);
  -webkit-filter: grayscale(0%) opacity(1); }

/*p {
  margin: 0 0 4px;
}*/
blockquote {
  font-size: 14px;
  font-style: italic; }

/* Front page news. */
ul.news {
  list-style-type: none;
  padding-left: 0em;
  display: table; }
  ul.news li {
    padding-bottom: .8rem; }
  ul.news .icon {
    color: #bbb;
    font-size: 2em;
    padding: 0rem 1rem;
    width: 4rem;
    text-align: center; }
  ul.news .text, ul.news .icon {
    display: table-cell;
    vertical-align: top; }
    ul.news .text p, ul.news .icon p {
      margin-bottom: 0rem; }
  ul.news .date {
    color: #888;
    font-weight: bold;
    display: block;
    font-size: 0.8em; }

div.pub {
  margin-bottom: 10px; }

#twitter-widget-0 {
  width: 100% !important;
  float: none; }

/* center knitr plots */
p img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.highlight, pre, code {
  font-family: 'Anonymous Pro', monospace;
  text-rendering: optimizeLegibility; }

.highlight {
  padding: 9px 14px;
  margin-bottom: 1em;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px; }
  .highlight pre {
    margin-bottom: 0; }

/* don't highlight errors in red */
.highlight span.err {
  color: inherit !important;
  background-color: inherit !important; }

.tweet {
  margin-left: auto;
  margin-right: auto;
  width: 500px; }

.media {
  margin-top: 0px;
  margin-bottom: 4px; }
  .media .card.link:hover {
    border: solid 1px #CCC;
    -moz-box-shadow: 2px 2px 3px #999;
    -webkit-box-shadow: 2px 2px 3px #999;
    box-shadow: 2px 2px 3px #999; }
  .media a {
    width: 100%; }
  .media a .card {
    width: 100%;
    color: black;
    vertical-align: bottom; }
    .media a .card .card-block {
      padding: .75rem; }
    .media a .card h4 {
      font-size: 1.25rem;
      margin-bottom: 0rem; }
    .media a .card .date {
      font-size: .75rem;
      font-weight: bold;
      vertical-align: center;
      margin-top: .25rem; }

div.header, div.header h2, div.panel-title, h1, h2, h3 {
  font-family: Lato, Helvetica Neue; }

div.header {
  margin-bottom: 20px; }

div.header h2, div.panel-title {
  font-weight: normal; }

h1 {
  border-bottom: 1px solid #e5e5e5;
  font-size: 2.5rem; }

h2 {
  font-size: 2rem;
  margin-top: .5rem; }

h3 {
  font-size: 1.3rem;
  margin-top: .5rem; }

h1, h2, h3 {
  font-weight: bold; }

code {
  color: #222;
  padding: .2em; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px; }

/* force image to shrink to fit on screen */
img {
  max-width: 100%; }

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  vertical-align: center; }
  .header .nav.nav-pills {
    padding-top: .5rem;
    vertical-align: center; }
    .header .nav.nav-pills .nav-link {
      padding: 0.35rem 0.35rem 0.35rem 0.35rem; }
    .header .nav.nav-pills .nav-link.active {
      background-color: #3c53a6; }
  .header .nav li.nav-item {
    vertical-align: center; }
    .header .nav li.nav-item a {
      padding-left: .5rem;
      padding-right: .5rem; }
    .header .nav li.nav-item .fa {
      font-size: 1.6em; }

/* Custom page footer */
.footer {
  padding-top: .5em;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  font-size: 0.8em; }

.footer p {
  margin: 0.1em 0; }

.footer a:link, .footer a:visited {
  color: #777; }

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 800px; } }
.container-narrow > hr {
  margin: 30px 0; }

/* Jumbotron */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5; }

.jumbotron p {
  font-size: 15px; }

.jumbotron {
  padding-top: 18px;
  padding-bottom: 10px; }

/* Sampa logo */
#logo {
  width: 154px;
  height: 35px;
  margin: 2px 0 8px 0; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0; }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px; }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0; } }
/* Slightly better-looking header on mobile. */
@media screen and (max-width: 767px) {
  .nav-pills {
    display: block;
    margin: 0 auto 1em; }

  #logo {
    display: block;
    clear: both;
    margin: 1em auto; } }
/* Photo */
.inset-image {
  width: 60%;
  margin: 0 auto; }

/* People list */
dl.people dd {
  margin-bottom: 1em; }

/* http://stackoverflow.com/questions/16937070/iframe-size-with-css-on-ios */
#twitter-widget-0 {
  width: 1px !important;
  min-width: 100% !important;
  *width: 100% !important; }

.venue {
  font-style: italic; }

/*hr.figureline { display: none; }*/
hr.madoko {
  border-bottom: 1px solid #e5e5e5; }

figure {
  margin: 20px; }

figure div {
  text-align: center; }

span.heading-before {
  font-size: 50%; }

#cvlink {
  display: none; }

@media print {
  #cvlink {
    display: inline; }

  body {
    font-size: 12px;
    font-family: Crimson, serif;
    line-height: 1.2em; }

  .container {
    max-width: 650px; }

  a {
    color: black; }

  a[href]:after {
    content: none !important; }

  .nav, span.pub, .footer {
    display: none; }

  h1, h2, h3, h4, h5 {
    margin-top: .5rem;
    margin-bottom: .3rem;
    font-family: inherit; }

  h1, h2 {
    margin-top: 1rem; }

  div.pub, ul {
    margin-bottom: .3rem; }

  h2 {
    font-size: 1.5rem; }

  h3 {
    font-size: 1.25rem; }

  h4 {
    font-size: 1.1rem; }

  h5 {
    font-size: 1rem; }

  li div {
    margin-bottom: 5px; }

  .header h2 {
    font-size: 30px; }

  .header h2, .contact {
    text-align: center; }

  p.contact {
    margin-top: -10px; }

  .header {
    border: none; }

  ul {
    padding-left: 24px; } }
